<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>

<script src="d3.layout.cloud.js"></script>
<script src="js.js"></script>
<script src="d3js.js"></script>
<head>
    <title>Reverse Dictionary Abridge v1</title>
    <link rel="stylesheet" href="css.css">
</head>
<body ng-app="myApp" ng-controller="MyController">
<div class="d3js-canvas">
    <svg id="cloud">
        <g></g>
    </svg>
<!--    <svg id="svgcontainer" height="100%" width="100%">-->
<!--&lt;!&ndash;        <svg id="paper"></svg>&ndash;&gt;-->
<!--    </svg>-->
<!--    <div  ng-model="seach" id="inWowPrev" class="inWowPrev">-->
<!--    </div>-->
    <div contenteditable ng-model="seach" id="inWow" class="inWow" ng-change="changeSearch()" contenteditable="true" ng-model-options="{ debounce: 1500 }" ng-focus="onFocus()" ng-blur="onFocusout()" ng-keyup="moveCursor()" ng-mouseup="moveCursor()">
        Search for words in Dictionary by their def<span style="color: red">initions..</span> example : 'cut hair occupation' or 'male cow'
    </div>
    <div class="inWowSuggest">
        <span style="color:blue">{{nextCharSuggestion}}</span>
    </div>
</div>
</body >

</html>